* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-container {
  align-items: center;
  border: 2px solid black;
  color: red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px;
}

.header-container h1 {
  font-size: 40px;
  margin-left: 10px;
}

.header-nav a {
  color: whitesmoke;
  margin-left: 10px;
  text-decoration: none;
}

.header-select {
  background-color: black;
  border: none;
  color: whitesmoke;
  font-size: 16px;
  margin-left: 10px;
}

.main-movie {
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('./imagens/mk.jpg');
  background-size: cover;
  height: 450px;
  margin-top: 10px;
  padding: 60px;
}

.main-tittle {

  font-weight: 900;
  max-width: 450px;
  min-height: 300px;
}

.main-span {
  color: green;
  display: flex;
  margin: 5px;
}

.main-span p {
  color: whitesmoke;
  margin-left: 25px;
}

.sinopse {

  font-weight: 900;
  margin: 10px;
}

.paragraph-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 900;
  margin-top: 15px;
  min-height: 140px;
}

.button-one {
  background-color: rgba(0, 0, 0, .5);
  border-top: none;
  border-left: none;
  box-shadow: 1px 1px 5px grey;
  color: red;
  font-size: 15px;
  font-weight: 900;
  /* margin-left: 17px; */
  padding: 5px;
}

.button-two {
  background-color: rgba(0, 0, 0, .5);
  border-top: none;
  border-left: none;
  box-shadow: 1px 1px 5px grey;
  color: red;
  font-size: 15px;
  font-weight: 900;
  margin-left: 20px;
  padding: 5px;
}

.color {
  color: rgb(51, 50, 50);
  margin-right: 5px;
}

.button-one:hover {
  box-shadow: 2px 2px 5px greenyellow;
  color: greenyellow;
}

.button-two:hover {
  box-shadow: 2px 2px 5px greenyellow;
  color: greenyellow;
}

.button-one:hover i {
  color: greenyellow;
}

.button-two:hover i {
  color: greenyellow;
}

.movies-section {
  margin: 20px;
}

.movies-section h3 {
  color: rgb(216, 209, 209);
  margin-left: 50px;
  text-shadow: 3px 3px 4px grey;
}

.movie-list {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.movie-list img {
  border: 2px solid rgb(24, 23, 23);
  border-top: none;
  border-left: none;
  box-shadow: 3px 3px 4px grey;
  margin: 8px;
  padding: 15px;
}

/* pase para esse codigo
https://pt.stackoverflow.com/questions/422624/mudar-a-cor-da-barra-de-rolagem-com-menu-vertical */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(194, 36, 36); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: red; 
}

/* até aqui */